---
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import LeadersFounders from "../components/LeadersFounders.astro";
import TeamLead from "../components/TeamLead.astro";
import Team from "../components/Team.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
import CallToAction from "../components/CallToAction.astro";
import Blog from "../components/Blog.astro";
import Fellowships from "../components/Fellowships.astro";
import Questions from "../components/Questions.astro";
---

<Layout title="Makers Fellowship">
  <main class="space-y-40 mb-40">
    <HeroSection />
    <Features />
    <div class="space-y-24">
      <LeadersFounders />
      <TeamLead />
      <Team />
    </div>
    <Fellowships />
    <!--<Stats/> -->
    <Testimonials />
    <CallToAction />
    <Blog />
    <Questions />
  </main>
</Layout>

<style is:global>
  .text-gradient {
    background: linear-gradient(90deg, #6dbfa4, #8695cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
