---
import Container from "./Container.astro";
import Partners from "../components/Partners.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-48 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          Incubating the Future <span class="text-gradient dark:text-white"
            >Leaders of LATAM</span
          >
        </h1>
        <h6 class="mt-16 text-lg font-semibold text-gray-700 dark:text-white">
          <span
            class="text-makers_purple text-4xl font-semibold dark:text-white"
            >100% Free</span
          >
        </h6>
        <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="https://airtable.com/appV1aT1ZYuXvXANu/shra5fYnJ8r0XwKJp"
            target="_blank"
            rel="noopener"
            class="relative flex py-3 w-full items-center justify-center px-12 text-makers_purple border border-makers_purple rounded-full transition active:duration-75 sm:w-max hover:bg-makers_purple hover:text-white duration-75"
          >
            <span class="relative text-base font-semibold">Apply</span>
          </a>
        </div>
      </div>
      <Partners />
    </div>
  </Container>
</div>
