---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import ProfileMentor from "./ui/ProfileMentor.astro";

import andres_noero_profile from "../../public/images/mentors/andres_noero_profile.jpg";
import angela_acosta_profile from "../../public/images/mentors/angela_acosta_profile.jpg";
import dylan_rosemberg_profile from "../../public/images/mentors/dylan_rosemberg_profile.jpg";
import luis_felipe_jaramillo_profile from "../../public/images/mentors/luis_felipe_jaramillo_profile.jpg";
import robbie_j_frie_profile from "../../public/images/mentors/robbie_j_frie_profile.jpg";
import santiago_valdes_profile from "../../public/images/mentors/santiago_valdes_profile.jpg";
import tamara_chayo_profile from "../../public/images/mentors/tamara_chayo_profile.jpg";
import luis_felipe_barrientos_profile from "../../public/images/mentors/luis_felipe_barrientos_profile.jpg";

import morado_logo from "../../public/images/partners/morado.png";
import grow_rockstart_logo from "../../public/images/startups/grow_rockstart_logo.png";
import kinnto_logo from "../../public/images/startups/kinnto.png";
import vai_community_logo from "../../public/images/startups/vai_community_logo.jpg";
import medu_protection_logo from "../../public/images/startups/medu.png";
import microsoft_logo from "../../public/images/startups/microsoft.png";
import stanford_logo from "../../public/images/startups/stanford_logo.png";
import unisabana_logo from "../../public/images/startups/unisabana_logo.png";

const mentors = [
  {
    name: "Andres Noero",
    photo: andres_noero_profile,
    startup_logo: vai_community_logo,
    startup_logo_width: 60,
    startup_logo_height: 60,
    squad: "CEO | Maker Fellow",
  },
  {
    name: "Tamara Chayo",
    photo: tamara_chayo_profile,
    startup_logo: medu_protection_logo,
    startup_logo_width: 80,
    startup_logo_height: 80,
    squad: "Founder & CEO | Maker Fellow",
  },
  {
    name: "Angela Acosta",
    photo: angela_acosta_profile,
    startup_logo: morado_logo,
    startup_logo_width: 70,
    startup_logo_height: 70,
    squad: "Founder & CEO",
  },
  {
    name: "Dylan Rosemberg",
    photo: dylan_rosemberg_profile,
    startup_logo: grow_rockstart_logo,
    startup_logo_width: 70,
    startup_logo_height: 70,
    squad: "Founder & CEO",
  },
  {
    name: "Luis Felipe Jaramillo",
    photo: luis_felipe_jaramillo_profile,
    startup_logo: stanford_logo,
    startup_logo_width: 40,
    startup_logo_height: 30,
    squad: "Self Funded Searcher",
  },
  {
    name: "Robbie J Frie",
    photo: robbie_j_frie_profile,
    startup_logo: kinnto_logo,
    startup_logo_width: 70,
    startup_logo_height: 70,
    squad: "Cofounder & CEO Kinnto.ai",
  },
  {
    name: "Santiago Valdes",
    photo: santiago_valdes_profile,
    startup_logo: microsoft_logo,
    startup_logo_width: 50,
    startup_logo_height: 50,
    squad: "Product Manager",
  },
  {
    name: "Luis Felipe Barrientos",
    photo: luis_felipe_barrientos_profile,
    startup_logo: unisabana_logo,
    startup_logo_width: 70,
    startup_logo_height: 70,
    squad: "TEDX Speaker | Conferencista",
  },
];
---

<section class="text-center relative">
  <Container>
    <div
      aria-hidden="true"
      class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10"
    >
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
      >
      </div>
      <div
        class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      >
      </div>
    </div>
    <section id="mentors" class="relative text-center">
      <div class="mx-auto">
        <h2
          class="mb-20 space-y-4 text-5xl font-bold text-gray-800 md:text-4xl dark:text-white"
          data-aos="zoom-y-out"
        >
          Our top mentors!
        </h2>
        <div
          class="mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-16 lg:gap-y-40"
        >
          {
            mentors.map((mentor, index) => (
              <ProfileMentor key={index} profile={mentor} />
            ))
          }
        </div>
      </div>
    </section>
  </Container>
</section>
