---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import ProfileMentor from "./ui/ProfileMentor.astro";

import andres_noero_profile from "../../public/images/mentors/andres_noero_profile.jpg";
import angela_acosta_profile from "../../public/images/mentors/angela_acosta_profile.jpg";
import simon_borrero_profile from "../../public/images/mentors/simon_borrero_profile.jpg";
import laura_gonzales_profile from "../../public/images/mentors/laura_gonzalez_profile.jpg";
import julian_nunez_profile from "../../public/images/mentors/julian_nu침ez_profile.jpg";
import juan_pablo_ortega_profile from "../../public/images/mentors/juan_pablo_ortega_profile.jpg";
import isabela_profile from "../../public/images/mentors/isabela_profile.jpeg";

import rappi_logo from "../../public/images/startups/rappi.png";
import yuno_logo from "../../public/images/startups/yuno_logo.svg";
import inqlab_logo from "../../public/images/startups/inqlab_logo.svg";
import morado_logo from "../../public/images/partners/morado.png";
import vai_community_logo from "../../public/images/startups/vai_community_logo.jpg";
import domu_logo from "../../public/images/startups/domu.jpeg";


const mentors = [
  {
    name: "Sim칩n Borrero",
    photo: simon_borrero_profile,
    startup_logo: rappi_logo,
    startup_logo_width: 70,
    startup_logo_height: 70,
    squad: "Co-Founder & CEO",
  },
  {
    name: "Laura Gonz치lez",
    photo: laura_gonzales_profile,
    startup_logo: inqlab_logo,
    startup_logo_width: 80,
    startup_logo_height: 80,
    squad: "Co-Founder & CEO",
  },
  {
    name: "Angela Acosta",
    photo: angela_acosta_profile,
    startup_logo: morado_logo,
    startup_logo_width: 60,
    startup_logo_height: 60,
    squad: "Founder & CEO",
  },
  {
    name: "Julian Nu침ez",
    photo: julian_nunez_profile,
    startup_logo: yuno_logo,
    startup_logo_width: 80,
    startup_logo_height: 80,
    squad: "CO-Founder & COO",
  },
  {
    name: "Juan Pablo Ortega",
    photo: juan_pablo_ortega_profile,
    startup_logo: yuno_logo,
    startup_logo_width: 80,
    startup_logo_height: 80,
    squad: "CO-Founder & CEO",
  },
  {
    name: "Isabela Rodriguez",
    photo: isabela_profile,
    startup_logo: domu_logo,
    startup_logo_width: 60,
    startup_logo_height: 60,
    squad: "CO-Founder & COO"
  },
  {
    name: "Andres Noero",
    photo: andres_noero_profile,
    startup_logo: vai_community_logo,
    startup_logo_width: 60,
    startup_logo_height: 60,
    squad: "CEO | Maker Fellow",
  }
];
---

<section class="text-center relative">
  <Container>
    <div
      aria-hidden="true"
      class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10"
    >
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
      >
      </div>
      <div
        class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      >
      </div>
    </div>
    <section id="mentors" class="relative text-center">
      <div class="mx-auto">
        <h2
          class="mb-20 space-y-4 text-5xl font-bold text-gray-800 md:text-4xl dark:text-white"
          data-aos="zoom-y-out"
        >
          Our top mentors!
        </h2>
        <div
          class="mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-16 lg:gap-y-40"
        >
          {
            mentors.map((mentor, index) => (
              <ProfileMentor key={index} profile={mentor} />
            ))
          }
        </div>
      </div>
    </section>
  </Container>
</section>
