---
import { Fade } from 'react-awesome-reveal';
import Container from "./Container.astro";
import QuestionItem from './ui/QuestionItem.jsx';
import DataSharingPolicy from './ui/DataSharingPolicy.jsx';
---

<section id="faq" class="relative px-4 pt-32">
  <Container>  
    <h2 class="md:text-4xl text-5xl text-center text-gray-800 dark:text-white font-bold mb-20">
      Frequently Asked Questions <br /> You Have the <span class="text-gradient dark:text-white">Questions</span>, We Have the <span class="text-gradient dark:text-white">Answers</span>
    </h2>
    <div class="mx-auto border bg-white border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10 rounded-xl p-6">
      <QuestionItem 
        client:load
        title="What is the Entrepreneurial Investing program about?" 
        answer="The program offers comprehensive training on how to invest in startups in Latin America. It includes strategies, tips, and secrets from regional experts to make informed decisions and maximize investment returns." 
      />
      
      <QuestionItem 
      client:load
        title="Who are the experts behind the program?" 
        answer="The program is designed and led by experienced investors and professionals from the Latam entrepreneurial ecosystem, with years of successful investment experience and deep market knowledge." 
      />

      <QuestionItem 
      client:load
        title="What will I learn in the program?" 
        answer="You will learn how to identify promising startups, conduct effective due diligence, understand different business models, evaluate founding teams, and much more. You will also receive practical advice and real case studies." 
      />

      <QuestionItem 
      client:load
        title="Are there any prerequisites to join the program?" 
        answer="No specific prior knowledge is required, although a basic understanding of finance and business can be helpful. The program is designed to be accessible to both beginners and experienced investors." 
      />

      <DataSharingPolicy client:load/>

      <QuestionItem 
        client:load
        title="How can I get in touch with you?" 
        answer="Feel free to email us at info@entrepreneurial.com." 
      />
    </div>
    <div class="relative px-4 my-14">
      <p class="text-xl text-black max-w-4xl mx-auto text-center">
        Still have more questions? Contact us <a href="mailto:team@makers.ngo" class="text-makers_green hover:text-makers_purple transition-colors">team@maker.ngo</a>
      </p>
    </div>
  </Container>
</section>
