---
import Container from "./Container.astro";
---

<div class="text-gray-600 dark:text-gray-300" id="makers">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        Makers in Action
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div
        class="break-inside-avoid-column aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <img
            class="w-12 h-12 rounded-full"
            src="./images/makers/juan_pisco_profile.jpg"
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Juan Pisco
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">
              CEO & Co-Founder at TripPlannerAI
            </p>
          </div>
        </div>
        <p class="mt-8">
          Makers for me has been the program and the community that has boosted
          my career as a founder both for its knowledge and its members.
          Connecting with people who share your ambition and desire to learn was
          what taught me the most during the creation of my startup. Listening
          to stories, sharing ideas, books and more are just a few of the things
          I enjoyed the most at Makers.
        </p>
      </div>
      <div
        class="break-inside-avoid-column aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <img
            class="w-12 h-12 rounded-full"
            src="./images/makers/samuel_santa_profile.jpg"
            alt="user avatar"
            width="200"
            height="200"
            loading="lazy"
          />
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Samuel Santa
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">
              CEO at Grayola
            </p>
          </div>
        </div>
        <p class="mt-8">
          Makers has been an amazing journey, enabling me to build and scale my
          company within a vibrant community of passionate individuals and
          top-notch mentors.
          <br /><br />
          It's a fantastic gateway into the LATAM startup ecosystem, fostering a
          mindset geared towards tackling global challenges and thinking big.
        </p>
      </div>
      <div
        class="break-inside-avoid-column aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <img
            class="w-12 h-12 rounded-full"
            src="./images/makers/silvia_manrique_profile.jpeg"
            alt="user avatar"
            width="200"
            height="200"
            loading="lazy"
          />
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Silvia Manrique
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">
              Growth Marketing at Truora
            </p>
          </div>
        </div>
        <p class="mt-8">
          I stumbled into the startup world by luck. Makers helped me deeply
          understand the thrill of building a company. It not only gave me
          invaluable skills for my work but also connected me with amazing
          people who help me become better every day.
        </p>
      </div>
      <div
        class="break-inside-avoid-column aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <img
            class="w-12 h-12 rounded-full"
            src="./images/makers/alan_arguello_profile.jpeg"
            alt="user avatar"
            width="200"
            height="200"
            loading="lazy"
          />
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Alan Arguello
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">
              Co-Founder of Torrenegra Org.
            </p>
          </div>
        </div>
        <p class="mt-8">
          For me Makers was and is a no-brainer. Connecting and sharing
          experiences with other ambitious people helped me grow in a short time
          as well as improve my leadership skills as a Founder that I use in my
          company.
        </p>
      </div>
      <div
        class="break-inside-avoid-column aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <img
            class="w-12 h-12 rounded-full"
            src="./images/makers/luis_bilbao_profile.jpg"
            alt="user avatar"
            width="200"
            height="200"
            loading="lazy"
          />
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Luis Bilbao
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">
              Content Marketing at Startupeable
            </p>
          </div>
        </div>
        <p class="mt-8">
          Makers is the community, plain and simple. You truly realize this when
          you take advantage of its potential. At Makers events, you discover an
          incredible magic. Everyone here shares the same goal: to find a lever
          to improve our reality.
          <br /><br />
          Whether it's creating jobs, introducing new solutions to the market, or
          bringing stability to LatAm through startups and entrepreneurship. Makers
          has given me the tools and drive to make my dreams come true and contribute
          to the progress of our region through Startupeable, the #1 podcast for
          startups in LatAm. With Startupeable, I contribute to the vision of a Latin
          America where the startup world is mainstream.
        </p>
      </div>
      <div
        class="break-inside-avoid-column aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <img
            class="w-12 h-12 rounded-full"
            src="./images/makers/santiago_saenz_profile.jpg"
            alt="user avatar"
            width="400"
            height="400"
            loading="lazy"
          />
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Santiago Saenz
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">
              Co-Founder of Agua for Devs
            </p>
          </div>
        </div>
        <p class="mt-8">
          Are you in the right room? Makers proved to me the importance of
          surrendering yourself to the right kind of people. Some of my best
          friends are Makers, and I lean on their drive and passion to keep it
          up through the highs and lows. That's the power of building community.
        </p>
      </div>
    </div>
  </Container>
</div>
